html {
    box-sizing: border-box;
    overflow-x: hidden;
    /* overflow: hidden;   */
}

*, *:before, *:after {
    box-sizing: inherit;   
}


[data-aos="fade-right"] {
    transform: translateX(-500px);
}

body{
    font-family: "DM Serif Text", serif;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background-color: #0E141B;
    color: white;
    font-size: 1.1vw;
}
nav {
    padding-top: 2vh;
    height: 10vh;
    width: 100%;
    background-color: #0E141B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
}

nav > a {
    padding: 0;
    border-radius: 20px;
    margin: 2%;
    text-decoration: none;
    color:white;
}
nav > a:last-child{
    margin-right: 25vw;
}
#logo{
    margin-right: 15vw;

    img {
        width: 10vw;
        height: 10vh;
    }
}
.boton {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-bottom: 0.8vh;
}
.boton::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5vh;
    background-color: #44A757; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.boton:hover::after {
    transform: scaleX(1);
}
nav img {
    height: 100%;
    max-height: 15vh;
    width: auto;
}

#inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'BBH Bartle', sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sobre-mi{
    display: flex;
    align-items: center;
    height: 100vh;

    .skills {
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-top: 2vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr;
        background-color: #44A757;
        border-radius: 1vh;

        .iconos {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .skill-icon {
            display: grid;
            justify-content: center;
            align-items: center;
            width: 4vw;
            height: 8vh;
        }

        p {
            color: black;
            margin: 2vh;
            padding: 0;
            display: grid;
            align-items: center;
            justify-content: center;
        }

        .csharp {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .pcsharp {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        .mysql {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        
        .pmysql {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        .js {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }

        .pjs {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        .python {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }

        .ppython {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
        }

        .css {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }

        .pcss {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }

        .html {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }

        .phtml {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }

        .docker {
            grid-column: 3 / 4;
            grid-row: 3 / 4;
        }

        .pdocker {
            grid-column: 3 / 4;
            grid-row: 4 / 5;
        }

        .aws {
            grid-column: 4 / 5;
            grid-row: 3 / 4;
        }

        .paws {
            grid-column: 4 / 5;
            grid-row: 4 / 5;
        }
    }
}
#sobre-mi > section{
    margin: 3vw;
}

#sobre-mi > aside{
    margin-left: 30vw;
}

.github > img{
    height: 7vh;
    width: auto;
}
.linkedin > img{
    height: 7vh;
    width: auto;
}

.mi-foto > img{
    width: 17vw;
    height: auto;
}

.links{
    display: flex;
    justify-content: center;
}

#proyectos {
    height: 120vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;

    .p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5vw;

        .titulo {
            padding: 3vh;
            font-weight: 400;
            font-style: normal;
            font-size: 2vh;
        }
        .texto {
            font-size: 1vh;
            margin: 1vw;
        }
    }
    .pTitulo {
        font-size: 3vh;
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        display: grid;
        justify-content: center;
        align-content: flex-end;
    }
    .p1 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        .ovejas {
            width: 30vw;
            height: 10vh;
        }
    }
    .p2 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .p3 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
}
#contacto {
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;

    h1 {
        font-size: 4.5vh;
    }
}

.clinks2{
    display: flex;
    align-items: center;
    margin: 2vh;

    p {
        margin: 0;
        font-size: 1.75vh;
    }
}

.clinks2 > img{
    width: 2vw;
    height: 2vh;
}

.ov-btn-grow-skew {
    font-size: 1.5vh;
    text-decoration: none;
    background: #0E141B;
    color: white;
    border: 2px solid #44A757;
    padding: 10px 15px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.ov-btn-grow-skew:hover {
    color: #fff;
}
.ov-btn-grow-skew::after {
    content: "";
    background: #44A757;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}
.ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

@media (max-width: 700px) {
    body{
        overflow-y: hidden;
    }
    nav{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 2fr;

        #botonContacto{
            margin: 0;
        }

        a{
            margin: 0;
            padding: 0;
            font-size: 2.5vw;
        }

        #logo{
            margin-left: 5vw;
            grid-column: 1 / 2;
            display: grid;
            img {
                width: auto;
                height: 5vh;
            }
        }
    }

    #sobre-mi{
        height: 50vh;
        width: auto;
        .mi-foto > img{
            height: 15vh;
            width: auto;
        }
        aside {
            margin-left: 5vw;
        }

        section > p {
            font-size: 2.5vw;
        }

        .github > img{
            height: 5vh;
            width: auto;
        }
        .linkedin > img{
            height: 5vh;
            width: auto;
        }

        .ov-btn-grow-skew {
            font-size: 1.3vh;
        }

        .skills {
            width: 60vw;
            p{
                font-size: 2.5vw;
            }
            .skill-icon {
                width: 4vw;
                height: 4vh;
            }
        }
    }
    #proyectos {
        height: 100vh;
    }
}
