html {
    box-sizing: border-box;
    /* overflow: hidden;   */
}

*, *:before, *:after {
    box-sizing: inherit;   
}

body{
    margin: 0;
    height: 98vh;
    width: 98vw;
    background-color: #0E141B;
    color: white;
    font-size: 1.1vw;
}
nav {
    padding-top: 2vh;
    height: 10vh;
    width: 100%;
    background-color: #0E141B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

nav > a {
    padding: 0;
    border-radius: 20px;
    margin: 2%;
    text-decoration: none;
    color:white;
}
nav > a:last-child{
    margin-right: 25vw;
}
#logo{
    margin-right: 15vw;
}
.boton {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-bottom: 0.8vh;
}
.boton::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5vh;
    background-color: #44A757; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}

.boton:hover::after {
    transform: scaleX(1);
}
nav img {
    height: 100%;
    max-height: 15vh;
    width: auto;
}

#inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'BBH Bartle', sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sobre-mi{
    display: flex;
    align-items: center;
    height: 100vh;
}
#sobre-mi > section{
    margin: 3vw;
}

#sobre-mi > aside{
    margin-left: 30vw;
}

.github > img{
    height: 7vh;
    width: auto;
}
.linkedin > img{
    height: 7vh;
    width: auto;
}

.mi-foto > img{
    width: 17vw;
    height: auto;
}

.links{
    display: flex;
    justify-content: center;
}

#proyectos {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);

    .p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5vw;

        .titulo {
            padding: 3vh;
            font-family: 'BBH Bartle', sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 1.5vh;
        }
        .texto {
            font-size: 1vh;
            margin: 1vw;
        }
    }
    .p1 {
        grid-column: 2 / 3;
    }
    .p2 {
        grid-column: 3 / 4;
    }
    .p3 {
        grid-column: 4 / 5;
    }
}
#contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
}

.clinks2{
    display: flex;
}

.clinks2 > img{
    width: 40px;
    height: 40px;
}

.ov-btn-grow-skew {
    font-size: 1.5vh;
    text-decoration: none;
    background: #0E141B;
    color: white;
    border: 2px solid #44A757;
    padding: 10px 15px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.ov-btn-grow-skew:hover {
    color: #fff;
}
.ov-btn-grow-skew::after {
    content: "";
    background: #44A757;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}
.ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}